{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

        {{ if .Params.image }}
        <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner">
        {{end}}

        <h1>{{ .Title }}</h1>

        {{ partial "article_metadata" (dict "content" . "is_list" 0) }}

        <div class="article-style">
            {{ .Content }}
        </div>

    {{ partial "section_pager.html" . }}
    {{ partial "comments.html" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
